/** @define PiplOption; use strict */

.PiplOption {
  padding: 30px;
  position: relative;
}

.PiplOption:not(:last-child) {
  border-bottom: 1px solid #C3CED6;
}

.PiplOption-mostlikely {
  position: absolute !important;
  top: 10px;
  right: 15px;
}

.PiplOption-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.PiplOption-wrapper.is-loading {
  flex-direction: column;
  align-items: center;
}

.PiplOption-title {
  flex: 1;
}

.PiplOption-value {
  flex: 1;
}
